# BASH PROMT
# get current branch in git repo
function parse_git_branch() {
	BRANCH=`git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/\1/'`
	if [ ! "${BRANCH}" == "" ]
	then
		echo "${BRANCH}"
	else
		echo ""
	fi
}
export PS1="\[\e[32m\u@\h\]\[\e[m\] \[\e[33m\`parse_git_branch\`\] \[\e[36m\]\W\[\e[m\]\\[\e[31m\]\\$\[\e[m\]"
