# History commands
shopt -s cmdhist # one line commands
shopt -s cdspell  # spell check
shopt -s histappend # append history and not rewhite

# Enable ls colors
ls='ls --color=auto'

# Add (Overwrite) folder colors
LS_COLORS=$LS_COLORS:'di=0:36:' ; export LS_COLORS

# History variables
HISTIGNORE="exit:history"
HISTCONTROL=ignoreboth:erasedups
